#cart {
	margin-top: 30px;
}

.decrease-button {
	margin-right: 20px;
}

.increase-button {
  margin-left: 20px; 
}

#cart-heading {
  margin-top: 3px;
}

#cart-panel-heading {
  height: 80px;
}

.cart-item-price {
  margin-top: 10px;
}

#toggle-arrow {
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
}